.cont_outline{
	position: relative;
	top: 0; left: 0;
	overflow: auto;
	#canvas{
		position: absolute;
		top: 0; left: 0;
		width: 75%;
		height: 100%;
		overflow: auto;
	}
	#palette{
		position: absolute;
		top: 0; right: 0;
		width: 20%;
		height: 100%;
		overflow: auto;
	}
}
