{% extends "../../../../common/templates/plain.html.twig" %}

{% block title %}broccoli HTML Editor{% endblock title %}


{% block head %}
	<!-- local -->
	<link rel="stylesheet" href="./index_files/cont.css" />
{% endblock head %}


{% block main %}
<div id="canvas" data-broccoli-preview="/path/to/your_preview.html"></div>
<div id="palette"></div>
{% endblock main %}


{% block foot %}
	<!-- broccoli-html-editor -->
	<link rel="stylesheet" href="/libs/broccoli-html-editor/client/dist/broccoli.min.css" />
	<script src="/libs/broccoli-html-editor/client/dist/broccoli.min.js"></script>

	<!-- local -->
	<script src="./index_files/cont.js"></script>
	<script>
		$(window).load( window.cont.init() );
	</script>
{% endblock foot %}
