{% extends "../../../../common/templates/plain.html.twig" %}

{% block title %}broccoli HTML Editor{% endblock title %}


{% block head %}
	<!-- local -->
	<link rel="stylesheet" href="./index_files/cont.css" />
{% endblock head %}


{% block main %}
<div class="cont_outline">
	<div id="canvas"></div>
	<div id="palette"></div>
</div>
{% endblock main %}


{% block foot %}
	<!-- broccoli-html-editor -->
	<link rel="stylesheet" href="/libs/broccoli-html-editor/client/dist/broccoli.css" />
	<script src="/libs/broccoli-html-editor/client/dist/broccoli.js"></script>

	<!-- broccoli-html-editor--table-field -->
	<script src="/libs/broccoli-html-editor--table-field/dist/broccoli-html-editor--table-field.js"></script>

	<!--broccoli-field-image-editor -->
	<script src="/libs/broccoli-field-image-editor/dist/broccoli-field-image-editor.js"></script>
	<link rel="stylesheet" href="/libs/broccoli-field-image-editor/dist/css/Jcrop.css" />
	<script src="/libs/broccoli-field-image-editor/dist/js/Jcrop-editor.js"></script>
	<script src="/libs/broccoli-field-image-editor/dist/js/Jcrop.js"></script>
	<script src="/libs/broccoli-field-image-editor/dist/js/jquery.animate-colors-min.js"></script>
	<script src="/libs/broccoli-field-image-editor/dist/js/rgbcolor.js"></script>
	<script src="/libs/broccoli-field-image-editor/dist/js/underscore-min.js"></script>

	<!--broccoli-field-psd -->
	<script src="/libs/broccoli-field-psd/dist/broccoli-field-psd.js"></script>

	<!--broccoli-field-table -->
	<script src="/libs/broccoli-field-table/dist/broccoli-field-table.js"></script>

	<!-- local -->
	<script src="./index_files/cont.js"></script>
	<script>
		$(window).load( window.cont.init() );
	</script>
{% endblock foot %}
