{% extends "../../../common/templates/plain.html.twig" %}

{% block title %}Module Editor{% endblock title %}


{% block head %}
{% endblock head %}


{% block main %}
	<div class="cont_module_list">
		TODO: (開発中)<br />
		<a href="javascript:window.blur();window.opener.focus();">openerにフォーカス</a><br />
		<a href="javascript:window.close();">ウィンドウを閉じる</a><br />
	</div>
	<div class="cont_cont_footer">
	</div>
{% endblock main %}

{% block foot %}
{% endblock foot %}
