{% extends "../../../common/templates/plain.html.twig" %}

{% block title %}Module Editor{% endblock title %}


{% block head %}
	<!-- local -->
	<link rel="stylesheet" href="./index_files/cont.css" />
{% endblock head %}


{% block main %}
<form action="javascript:;" class="cont_main_form">
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-12">モジュール名</div>
		</div>
		<div class="row">
			<div class="col-xs-3">
				<div>info.json</div>
				<div><textarea name="src_infojson"></textarea></div>
			</div>
			<div class="col-xs-3">
				<div>template.html</div>
				<div><textarea name="src_html"></textarea></div>
			</div>
			<div class="col-xs-3">
				<div>module.css.scss</div>
				<div><textarea name="src_css"></textarea></div>
			</div>
			<div class="col-xs-3">
				<div>module.js</div>
				<div><textarea name="src_js"></textarea></div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-4">
				<div>preview params</div>
				<div class="cont_edit_window"></div>
			</div>
			<div class="col-xs-8">
				<div>preview</div>
				<div><iframe src="about:blank" class="cont_preview"></iframe></div>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-12 text-right">
				<a href="javascript:window.close();" class="btn btn-primary btn-lg" type="button">ウィンドウを閉じる</a>
			</div>
		</div>
	</div>
</form>
{% endblock main %}


{% block foot %}
	<!-- broccoli-html-editor -->
	<link rel="stylesheet" href="/libs/broccoli-html-editor/client/dist/broccoli.css" />
	<script src="/libs/broccoli-html-editor/client/dist/broccoli.js"></script>

	<!-- broccoli-field-table -->
	<script src="/libs/broccoli-field-table/dist/broccoli-field-table.js"></script>

	<!-- broccoli-field-psd -->
	<script src="/libs/broccoli-field-psd/dist/broccoli-field-psd.js"></script>

	<!-- local -->
	<script src="./index_files/cont.js"></script>
	<script>
		$(window).load( window.cont.init() );
	</script>
{% endblock foot %}
