{% extends "./common/templates/top.html.twig" %}
{% block title %}HOME{% endblock title %}



{% block head %}
	<!-- local -->
	<link rel="stylesheet" href="./index_files/cont.css" />
{% endblock head %}



{% block main %}
	{#
	<p>ようこそ。YoungCorn へ。</p>
	<p>YoungCorn は、Pickles2 の GUI制作環境です。</p>
	<p><button class="btn btn-default" onclick="main.socketTest();return false;">疎通テスト</button></p>
	#}

	<div class="cont_project_list">
	</div>
{% endblock main %}




{% block foot %}
	<!-- local -->
	<script src="./index_files/cont.js"></script>
	<script id="template-projectList" type="text/template">
	{% raw %}
	<a href="/project/index.html?projectIdx={{projectIdx}}" class="list-group-item">
		<h2 class="list-group-item-heading">{{data.name}}</h2>
		<p class="list-group-item-text">{{data.path}}</p>
		<button class="btn btn-default" onclick="alert('削除機能は開発中');return false;">削除する</button>
	</a>
	{% endraw %}
	</script>
	<script>
		$(window).load( window.cont.init() );
	</script>
{% endblock foot %}
