<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>{% block title %}{% endblock title %} - {{ packageJson.name }} - {{ packageJson.description }}</title>

		<!-- Bootstrap -->
		<link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css" />

		<!-- FESS -->
		<link rel="stylesheet" href="/common/styles/fess.css" />

		<!-- common -->
		<link rel="stylesheet" href="/common/styles/common.css" />

{% block head %}{% endblock head %}
	</head>
	<body>
		<header class="t-header">
			<div class="container">
				<p class="h3"><a href="/"><small>←</small></a> {{ packageJson.name }} <small>{{ packageJson.description }}</small></p>
			</div>
		</header>
		<div class="mainBlock container">
			<h1>{% block title %}{% endblock title %}</h1>
			<div class="contents">
{% block main %}{% endblock main %}
			</div>
		</div>


		<!-- jQuery -->
		<script src="/bower_components/jquery/dist/jquery.js"></script>

		<!-- Keypress -->
		<script src="/libs/dmauro-Keypress/keypress.js"></script>

		<!-- Purl (URL Parser) -->
		<script src="/bower_components/purl/purl.js"></script>

		<!-- Bootstrap -->
		<script src="/bower_components/bootstrap/dist/js/bootstrap.js"></script>

		<!-- Twig -->
		<script src="/bower_components/twig.js/twig.min.js"></script>

		<!-- socket.io -->
		<script src="/socket.io/socket.io.js" type="text/javascript"></script>

		<!-- baobab-fw -->
		<script src="/baobab-fw/baobab-fw.js" type="text/javascript"></script>

		<!-- common -->
		<script src="/common/main.js"></script>

{% block foot %}{% endblock foot %}
	</body>
</html>
